.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: start;
    align-content: center;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.flex-sa {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.blue_text {
    color: #0196FF !important;
}
